<?xml version="1.0"?>
<config>
    <modules>
        <Suregifts_Giftcardapi>
            <version>1.4.5</version>
        </Suregifts_Giftcardapi>
    </modules>
    <frontend>
        <routers>
            <giftcardapi>
                <use>standard</use>
                <args>
                    <module>Suregifts_Giftcardapi</module>
                    <frontName>giftcardapi</frontName>
                </args>
            </giftcardapi>
        </routers>
        <layout>
            <updates>
                <giftcardapi>
                    <file>giftcardapi.xml</file>
                </giftcardapi>
            </updates>
        </layout>
		<translate>
			<modules>
				<Suregifts_Giftcardapi>
					<files>
						<default>Suregifts_Giftcardapi.csv</default>
					</files>
				</Suregifts_Giftcardapi>
			</modules>
		</translate>			
    </frontend>
    <adminhtml>
	<translate>
			<modules>
				<Suregifts_Giftcardapi>
					<files>
						<default>Suregifts_Giftcardapi.csv</default>
					</files>
				</Suregifts_Giftcardapi>
			</modules>
		</translate>
 <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <giftcardapi translate="title" module="giftcardapi">
                                        <title>Options</title>
                                        <sort_order>100</sort_order>
                                    </giftcardapi>
                                </children>
                            </config>
                        </children>
                    </system>
                 </children>
            </admin>
        </resources>
 </acl>
<default>
    <giftcardapi>
        <suregifts_group>                
            <suregifts_mode>0</suregifts_mode>      
        </suregifts_group>      
    </giftcardapi>
</default>
   </adminhtml>  
    <global>

		<events>
			<core_block_abstract_to_html_before>
			<observers>
		          <giftcardapi_observer>
		            <type>singleton</type>
		            <class>giftcardapi/observer</class>
		            <method>insertBlock</method>
		          </giftcardapi_observer>
		       	</observers>
			</core_block_abstract_to_html_before>
			<sales_order_save_before>
			<observers>
		          <giftcardapi_observer>
		            <type>singleton</type>
		            <class>giftcardapi/observer</class>
		            <method>salesOrderSaveBefore</method>
		          </giftcardapi_observer>
		       </observers>
			</sales_order_save_before>
			<sales_order_save_after>
			<observers>
		          <giftcardapi_observer>
		            <type>singleton</type>
		            <class>giftcardapi/observer</class>
		            <method>salesOrderSaveAfter</method>
		          </giftcardapi_observer>
		       </observers>
			</sales_order_save_after>
			<sales_order_invoice_pay>
				<observers>
					<giftcardapi_observer>
						<type>singleton</type>
						<class>giftcardapi/observer</class>
						<method>salesInvoiceCreateAfter</method>
					</giftcardapi_observer>
				</observers>
			</sales_order_invoice_pay>
		</events>
        <models>
            <giftcardapi>
                <class>Suregifts_Giftcardapi_Model</class>
                <resourceModel>giftcardapi_mysql4</resourceModel>
            </giftcardapi>
            <giftcardapi_mysql4>
                <class>Suregifts_Giftcardapi_Model_Mysql4</class>
            </giftcardapi_mysql4>
        </models>
        <resources>
            <giftcardapi_setup>
                <setup>
                    <module>Suregifts_Giftcardapi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftcardapi_setup>
            <giftcardapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftcardapi_write>
            <giftcardapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftcardapi_read>
        </resources>
        <blocks>
            <giftcardapi>
                <class>Suregifts_Giftcardapi_Block</class>
            </giftcardapi>
        </blocks>
        <helpers>
            <giftcardapi>
                <class>Suregifts_Giftcardapi_Helper</class>
            </giftcardapi>
        </helpers>
		<sales>
            <quote>
                <totals>
                    <giftcardapi>
                        <class>giftcardapi/quote_total_giftcardapi</class>
						<after>grand_total</after>
                    </giftcardapi>
					<giftcardapi_tax>
                        <class>giftcardapi/quote_total_tax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </giftcardapi_tax>
                </totals>
            </quote>
			<order_invoice>
                <totals>
                    <giftcardapi>
						<class>giftcardapi/invoice_total_giftcardapi</class>
                    </giftcardapi>
					<giftcardapi_tax>
                        <class>giftcardapi/invoice_total_tax</class>
                    </giftcardapi_tax>
                </totals>
            </order_invoice>
			<order_creditmemo>
                <totals>
                    <giftcardapi>
                        <class>giftcardapi/creditmemo_total</class>
                    </giftcardapi>
                </totals>
            </order_creditmemo>
        </sales>
		<fieldsets>
            <sales_convert_quote_address>
                <giftcardapi_code>
                    <to_order>*</to_order>
                </giftcardapi_code>
                <giftcardapi_discount>
                    <to_order>*</to_order>
                </giftcardapi_discount>
				<base_giftcardapi_discount>
                    <to_order>*</to_order>
                </base_giftcardapi_discount>
                <giftcardapi_discount_tax>
                    <to_order>*</to_order>
                </giftcardapi_discount_tax>
				<base_giftcardapi_discount_tax>
                    <to_order>*</to_order>
                </base_giftcardapi_discount_tax>
            </sales_convert_quote_address>
        </fieldsets>
	<pdf>
            <totals>
                <giftcardapi translate="title">
                    <title>Suregifts Gift Card Discount</title>
                    <source_field>giftcardapi_discount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>590</sort_order>
                    <amount_prefix>-</amount_prefix>
                </giftcardapi>
            </totals>
        </pdf>
    </global>
</config>